<h1>ログイン</h1>

<%= form_with scope: :session, local: true do |f| %>
  <div class='form-group'>
    <%= f.label :email, 'メールアドレス' %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class='input-group mb-3'>
    <%= f.label :remember_me do %>
      <%= f.check_box :remember_me%><span class='ml-3'>ログインを保持する</span>
    <% end %>
  </div>
  <div>
    <%= f.submit 'ログインする', class: 'btn btn-primary mt-3' %>
  </div>
<% end %>
