<h1>詳細</h1>

<div class='nav justify-content-end mb-3'>
  <%= link_to '一覧', memos_path, class: 'btn btn-secondary' %>  
</div>

<table class='table table-hover'>
  <tbody>
    <tr>
      <th><%= Memo.human_attribute_name(:id) %></th>
      <td><%= @memo.id %></td>
    </tr>
    <tr>
      <th><%= Memo.human_attribute_name(:title) %></th>
      <td><%= @memo.title %></td>
    </tr>
    <tr>
      <th><%= Memo.human_attribute_name(:content) %></th>
      <td><%= @memo.content %></td>
    </tr>
    <tr>
      <th><%= Memo.human_attribute_name(:image) %></th>
      <td><%= image_tag @memo.image if @memo.image.attached? %></td>
    </tr>
    <tr>
      <th><%= Memo.human_attribute_name(:created_at) %></th>
      <td><%= @memo.created_at %></td>
    </tr>
    <tr>
      <th><%= Memo.human_attribute_name(:updated_at) %></th>
      <td><%= @memo.updated_at %></td>
    </tr>
  </tbody>
</table>
<div class='nav justify-content-end mt-3'>
  <%= link_to '編集', edit_memo_path(@memo), class: 'btn btn-primary' %>
</div>